.map{
    max-width: 1500px;
    height: 350px; 
    border-radius: 12px;
}

.linevector{
    position: absolute; 
    width: 400px; 
    bottom: 5px; 
    left: 100px
}

.secondEllipse{
    position: absolute; 
    width: 50px; 
    bottom: 170px; 
    right: 275px
}

@media (min-width: 0px) and (max-width: 600px) {
   
    .map{
        max-width: 250px;
        height: 250px; 
        border-radius: 12px;
    }
    .linevector{
        position: absolute; 
        width: 160px; 
        bottom: 5px; 
        left: 5px
    }
    .secondEllipse{
        position: absolute; 
        width: 40px; 
        bottom: 70px; 
        right: 65px
    }
    

} 

@media (min-width: 600px) and (max-width: 900px) {
    
    .map{
        max-width: 520px;
        height: 300px; 
        border-radius: 12px;
    }
    .linevector{
        position: absolute; 
        width: 300px; 
        bottom: 5px; 
        left: 30px
    }
    .secondEllipse{
        position: absolute; 
        width: 50px; 
        bottom: 100px; 
        right: 170px
    }
} 


@media (min-width: 900px) and (max-width: 1200px) {

    .map{
        max-width: 750px;
        height: 350px; 
        border-radius: 12px;
    }
    
    .linevector{
        position: absolute; 
        width: 400px; 
        bottom: 5px; 
        left: 50px
    }
    
    .secondEllipse{
        position: absolute; 
        width: 50px; 
        bottom: 170px; 
        right: 275px
    }

} 


@media (min-width: 1200px) and (max-width: 1536px) {
    .map{
        max-width: 850px;
        height: 350px; 
        border-radius: 12px;
    }
    
    .linevector{
        position: absolute; 
        width: 400px; 
        bottom: 5px; 
        left: 50px
    }
    
    .secondEllipse{
        position: absolute; 
        width: 50px; 
        bottom: 170px; 
        right: 370px
    }
} 

@media (min-width: 1536px) {
    .map{
        width: 1900px;
        height: 350px; 
        border-radius: 12px;
    }
    
    .linevector{
        position: absolute; 
        width: 530px; 
        bottom: 5px; 
        left: 160px
    }
    
    .secondEllipse{
        position: absolute; 
        width: 50px; 
        bottom: 200px; 
        left: 660px
    }
} 